{%extends 'base.html'%}
{% block title %}Social Network -- Register{% endblock%}
{% block content%}
<div class="jumbotron">
    <div class="container">
    <div class='row'>
        <div class='clo-lg-4'>
            {% if form.errors %}
                <p style="color:red">
                    Incorrect user name and password.
                </p>
            {% endif %}
        </div>
            <p class="text-left"><strong>Let's Start Your Blog Journey!</strong></p>
            <br />
                <h2><strong>Regiteration</strong></h2>

                    <form method="post" action="{% url 'register' %}">
                        <table>
                        <tr>
                            <td>Username:</td>
                            <td><input type="text" name="username" value="{{username}}"></td>
                        </tr>
                        <tr>
                            <td>Last name:</td>
                            <td><input type="text" name="lastname" value="{{lastname}}"></td>
                        </tr>
                         <tr>
                            <td>First name:</td>
                            <td><input type="text" name="firstname" value="{{firstname}}"></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><input type="password" name="password1"></td>
                        </tr>
                        <tr>
                            <td>Confirm password:</td>
                            <td><input type="password" name="password2"></td>
                        </tr>
                        </table>
                        <br/>
                        <input type="submit" value="Register" class='btn btn-success'/>
                        {% csrf_token %}
                    </form>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
        </div>
    </div>
{% endblock %}




